<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Play Videos via Links - Anshuman Prasad Mahanta</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.anshumanpm.eu.org/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.anshumanpm.eu.org/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.anshumanpm.eu.org/Favicon/favicon-16x16.png">
    <link rel="manifest" href="https://cdn.anshumanpm.eu.org/Favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.anshumanpm.eu.org/StreamSite/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM974R3G71"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-SM974R3G71');
    </script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img id="navlogo" src="https://cdn.anshumanpm.eu.org/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <img id="themeIcon" src="https://cdn.anshumanpm.eu.org/theme/light_mode.svg" alt="themeToggle">
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <center> {% if error_msg %} <div class="alert alert-danger" role="alert"> {{ error_msg }} </div> {% endif %} <h4 class="mt-4">Play Videos via Links</h4>
          <form method="post" action="/">
            <div class="form-group">
              <input type="text" class="form-control" name="url" placeholder="Enter video link" value="{{ input_value }}" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block">PLAY</button>
          </form>
        </center>
      </div>
    </main>
    <footer class="footer">
      <div>Made with <i class="fa fa-heart heartbeat"></i> by <b>
          <a href="mailto:webmaster@anshbotzone.tech">AnshumanPM</a>
        </b>
      </div>
      <div>Telegram <b>
          <a href="https://telegram.me/AnshBotZone">Anshuman Bot Updates</a>
        </b>
      </div>
    </footer>
    <script>
      let themeIcon = document.getElementById("themeIcon");
      if (localStorage.getItem("theme") == null) {
        localStorage.setItem("theme", "dark");
      }
      let localData = localStorage.getItem("theme");
      if (localData == "dark") {
        themeIcon.src = "https://cdn.anshumanpm.eu.org/theme/light_mode.svg";
        document.body.classList.remove("white-theme");
      } else if (localData == "light") {
        themeIcon.src = "https://cdn.anshumanpm.eu.org/theme/dark_mode.svg";
        document.body.classList.add("white-theme");
      }
      themeIcon.onclick = function() {
        document.body.classList.toggle("white-theme");
        if (document.body.classList.contains("white-theme")) {
          themeIcon.src = "https://cdn.anshumanpm.eu.org/theme/dark_mode.svg";
          localStorage.setItem("theme", "light");
        } else {
          themeIcon.src = "https://cdn.anshumanpm.eu.org/theme/light_mode.svg";
          localStorage.setItem("theme", "dark");
        }
      }
    </script>
  </body>
</html>
