<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Watch {{ f_name }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.anshumanpm.eu.org/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.anshumanpm.eu.org/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.anshumanpm.eu.org/Favicon/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.anshumanpm.eu.org/Favicon/favicon.ico">
    <link rel="manifest" href="https://cdn.anshumanpm.eu.org/Favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.anshumanpm.eu.org/StreamSite/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdn.anshumanpm.eu.org/StreamSite/tailwind.css">
    <link rel="stylesheet" href="https://vjs.zencdn.net/8.6.1/video-js.css">
    <link rel="stylesheet" href="https://cdn.anshumanpm.eu.org/AntiAdblocker/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM974R3G71"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-SM974R3G71');
    </script>
  </head>
  <body class="flex flex-col min-h-screen bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <header>
      <nav class="bg-slate-50 dark:bg-gray-800 border-b border-slate-900/10 dark:border-slate-300/10">
        <div class="max-w-screen-xl flex items-center justify-center mx-auto p-4">
          <a href="/" class="flex items-center">
            <img src="https://cdn.anshumanpm.eu.org/logo.svg" id="navlogo" class="h-8" alt="logo" />
          </a>
        </div>
      </nav>
    </header>
    <main class="flex-grow flex justify-center items-start">
      <div class="bg-slate-50 dark:bg-gray-800 w-full max-w-md rounded-xl m-2 shadow">
        <div class="mx-auto p-2">
          <video id="player" class="video-js w-full">
            <source type="video/mp4">
            <source type="video/webm">
          </video>
          <div class="mt-6 space-y-4">
            <button id="dlButton" class="w-full bg-blue-500 text-white py-2 px-4 rounded flex items-center justify-center space-x-2">
              <i class="fa fa-cloud-arrow-down"></i>
              <span>Download</span>
              <i class="fa fa-cloud-arrow-down"></i>
            </button>
            <div class="w-full">
              <details class="dropdown w-full">
                <summary class="w-full bg-blue-500 text-white py-2 px-4 rounded flex items-center justify-center space-x-2 cursor-pointer">
                  <i class="fa fa-circle-play"></i>
                  <span>Stream</span>
                  <i class="fa fa-circle-play"></i>
                </summary>
                <ul class="p-2 shadow bg-base-100 rounded-box w-full text-center space-y-2">
                  <li id="mxButton" class="dropdown-item">MX Player</li>
                  <li id="vlcButton" class="dropdown-item">VLC Mobile</li>
                  <li id="playitButton" class="dropdown-item">PlayIt</li>
                  <li id="splayButton" class="dropdown-item">SPlayer</li>
                  <li id="jplayButton" class="dropdown-item">JPlayer</li>
                  <li id="kmplayButton" class="dropdown-item">KMPlayer</li>
                  <li id="hdplayButton" class="dropdown-item">HDPlayer</li>
                </ul>
              </details>
            </div>
            <button id="getFileButton" class="w-full bg-blue-500 text-white py-2 px-4 rounded flex items-center justify-center space-x-2">
              <i class="fab fa-telegram"></i>
              <span>Telegram Download</span>
              <i class="fab fa-telegram"></i>
            </button>
          </div>
          <!-- Ad Display Code -->
          <div class="adDiv grid place-items-center mt-4"></div>
          <div class="space-y-2 mt-4 vidInfo">
            <p>
              <i class="fa fa-file"></i> File Name: {{ f_name }}
            </p>
            <p>
              <i class="fa fa-bars"></i> File Size: {{ f_size }}
            </p>
            <p>
              <i class="fa fa-user"></i> File Owner: {{ f_owner }}
            </p>
            <p>
              <i class="fa fa-clock"></i> Created Time: {{ f_time }}
            </p>
          </div>
          <!-- Ad Check Code -->
          <div id="ad-chk" class="adChkDiv adhidden">
            <iframe data-aa='2304846' src='//ad.a-ads.com/2304846?size=300x250' style='width:3px; height:2px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
          </div>
          <!-- Anti Adblocker Code -->
          <div class='adblcr hidden' id='superadblocker'>
            <div class='textsshow'>
              <svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                <circle cx='12' cy='12' r='10' />
                <line x1='12' x2='12' y1='8' y2='12' />
                <line x1='12' x2='12.01' y1='16' y2='16' />
              </svg>
              <h2>AdBlock Detected!</h2>
              <p>Our website is made possible by displaying ads to our visitors. Please support us by whitelisting our website.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-slate-50 dark:bg-gray-800 mt-auto border-t border-slate-900/10 dark:border-slate-300/10">
      <div class="w-full mx-auto max-w-screen-xl p-4 text-center md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Made with <i class="fa fa-heart heartbeat"></i> by <a href="https://github.com/AnshumanPM" class="hover:underline font-medium">AnshumanPM</a>
          </b>
        </span>
        <ul class="flex justify-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Contact</a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
    <script>
      let videoUrl = "{{ video_url }}";
      let tgFileUrl = "{{ tg_file_url }}";
      let fileName = "{{ f_name | quote_plus }}";
      let videoElement = document.getElementById('player').getElementsByTagName('source');
      for (let i = 0; i < videoElement.length; i++) {
        videoElement[i].src = videoUrl;
      }
      const player = videojs('#player', {
        controls: true,
        aspectRatio: "16:9",
        playbackRates: [0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2],
        poster: "https://cdn.jsdelivr.net/npm/@googledrive/index@2.2.3/images/poster.jpg",
      });
      player.ready(function() {
        player.on('fullscreenchange', function() {
          if (player.isFullscreen() && screen.orientation) {
            screen.orientation.lock('landscape');
          } else if (!player.isFullscreen() && screen.orientation) {
            screen.orientation.unlock();
          }
        });
      });
    </script>
    <script src="https://cdn.anshumanpm.eu.org/StreamSite/script.js"></script>
  </body>
</html>
