<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>Watch {{ f_name }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.anshumanpm.eu.org/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.anshumanpm.eu.org/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.anshumanpm.eu.org/Favicon/favicon-16x16.png">
    <link rel="manifest" href="https://cdn.anshumanpm.eu.org/Favicon/site.webmanifest">
    <link rel="stylesheet" href="https://vjs.zencdn.net/8.6.1/video-js.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4/dist/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.anshumanpm.eu.org/StreamSite/style.css">
    <link rel="stylesheet" href="https://cdn.anshumanpm.eu.org/AntiAdblocker/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM974R3G71"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-SM974R3G71');
    </script>
  </head>
  <body>
    <header>
      <a href="/">
        <img id="navlogo" src="https://cdn.anshumanpm.eu.org/logo.png" alt="logo">
      </a>
      <img id="icon" src="https://cdn.anshumanpm.eu.org/theme/light_mode.svg" alt="themeToggle">
    </header>
    <main>
      <div class="container">
        <video id="player" class="video-js">
          <source type="video/mp4">
          <source type="video/webm">
        </video>
        <br />
        <br />
        <div class="allBtn">
          <button id="dlButton" class="btn btn-primary btn-block">
            <i class="fa fa-cloud-arrow-down"></i> Download <i class="fa fa-cloud-arrow-down"></i></button>
          <div class="btn-group">
            <button id="dropbtn" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-circle-play"></i> Stream <i class="fa fa-circle-play"></i></button>
            <div id="dropmenu" class="dropdown-menu">
              <button id="mxButton" class="dropdown-item">MX Player</button>
              <button id="vlcButton" class="dropdown-item">VLC Mobile</button>
              <button id="playitButton" class="dropdown-item">PlayIt</button>
              <button id="splayButton" class="dropdown-item">SPlayer</button>
              <button id="kmplayButton" class="dropdown-item">KMPlayer</button>
              <button id="hdplayButton" class="dropdown-item">HDPlayer</button>
            </div>
          </div>
          <button id="getFileButton" class="btn btn-primary btn-block">
            <i class="fab fa-telegram"></i> Get TG File <i class="fab fa-telegram"></i></button>
        </div>
        <br />
        <br />
        <div class="vidInfo">
          <p>
            <i class="fa fa-file"></i> File Name: {{ f_name }}
          </p>
          <p>
            <i class="fa fa-bars"></i> File Size: {{ f_size }}
          </p>
          <p>
            <i class="fa fa-user"></i> File Owner: {{ f_owner }}
          </p>
          <p>
            <i class="fa fa-clock"></i> Created Time: {{ f_time }}
          </p>
        </div>
        <!-- Ad Display Code -->
        <div id="ad-chk" class="adDiv adhidden">
          <iframe data-aa='2304846' src='//ad.a-ads.com/2304846?size=300x250' style='width:3px; height:2px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
        </div>
        <!--     Anti Adblocker Code -->
        <div class='adblcr hidden' id='superadblocker'>
          <div class='textsshow'>
            <svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
              <circle cx='12' cy='12' r='10' />
              <line x1='12' x2='12' y1='8' y2='12' />
              <line x1='12' x2='12.01' y1='16' y2='16' />
            </svg>
            <h2>AdBlock Detected!</h2>
            <p>Our website is made possible by displaying ads to our visitors. Please supporting us by whitelisting our website.</p>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="text-muted">Made with <i class="fa fa-heart heartbeat"></i> by <b>
          <a href="mailto:webmaster@anshbotzone.tech">AnshumanPM</a>
        </b>
      </div>
      <div class="text-muted">Telegram <b>
          <a href="https://telegram.me/AnshBotZone">Anshuman Bot Updates</a>
        </b>
      </div>
    </footer>
    <script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
    <script>
      let videoUrl = "{{ video_url }}";
      let tgFileUrl = "{{ tg_file_url }}";
      let fileName = "{{ f_name | quote_plus }}";
      let videoElement = document.getElementById('player').getElementsByTagName('source');
      for (let i = 0; i < videoElement.length; i++) {
        videoElement[i].src = videoUrl;
      }
      const player = videojs('#player', {
        controls: true,
        aspectRatio: "16:9",
        playbackRates: [0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2],
        poster: "https://cdn.jsdelivr.net/npm/@googledrive/index@2.2.3/images/poster.jpg",
      });
      player.ready(function() {
        player.on('fullscreenchange', function() {
          if (player.isFullscreen() && screen.orientation) {
            screen.orientation.lock('landscape');
          } else if (!player.isFullscreen() && screen.orientation) {
            screen.orientation.unlock();
          }
        });
      });
    </script>
    <script src="https://cdn.anshumanpm.eu.org/StreamSite/script.js"></script>
    <!-- Popunder Ads -->
    <script type="text/javascript" data-cfasync="false">
      /*<![CDATA[/* */
      (function(){var a=window,t="eada7c4da1df24e4d6fb15a205927381",u=[["siteId",920-712*631-237+5538586],["minBid",0.0001],["popundersPerIP","0:1"],["delayBetween",0],["default","https://www.profitablegatecpm.com/rrnx759f?key=d682ebbe96219cb8de23f4109a7b11c8"],["defaultPerDay",0],["topmostLayer","auto"]],d=["d3d3LmRpc3BsYXl2ZXJ0aXNpbmcuY29tL2xwYXJ0aWNsZS5taW4uY3Nz","ZDNtem9rdHk5NTFjNXcuY2xvdWRmcm9udC5uZXQvZkdIdVkvam1vdmUubWluLmpz"],b=-1,x,c,w=function(){clearTimeout(c);b++;if(d[b]&&!(1738572742000<(new Date).getTime()&&1<b)){x=a.document.createElement("script");x.type="text/javascript";x.async=!0;var z=a.document.getElementsByTagName("script")[0];x.src="https://"+atob(d[b]);x.crossOrigin="anonymous";x.onerror=w;x.onload=function(){clearTimeout(c);a[t.slice(0,16)+t.slice(0,16)]||w()};c=setTimeout(w,5E3);z.parentNode.insertBefore(x,z)}};if(!a[t]){try{Object.freeze(a[t]=u)}catch(e){}w()}})();
      /*]]>/* */
    </script>
  </body>
</html>
